<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<style>
		html {
			font-size: 20px
		}
	</style>
</head>
<body>
	<h1>DevOps Test Page</h1>
	<a href="/">refresh</a>
	
	<br><br>
	
	<p>Who is your daddy?</p>
	<h2>{{.FirstName}}</h2>
	
	<p>How old is he?</p>
	<h3>{{.Age}}</h3>
	
</body>
</html>