<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
	<style>
		html {
			font-size: 20px
		}
	</style>
</head>
<body>
	DevOps Test Page
	<a href="/">refresh</a>
	
	<br><br>
	
	<p>Who is your daddy?</p>
	<h1>{{.FirstName}}</h1>
	
	<p>How old is he?</p>
	<h1>{{.Age}}</h1>
	
</body>
</html>